<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.premad.kotlin_basics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Binding.DataBindingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ViewBindingActivity">

        </activity>
        <activity android:name=".view.BottomSheetActivity"></activity>
        <activity android:name=".view.BottomNavigationBar.BottomNavigationBarActivity" />
        <activity android:name=".view.Notification.afterNotification" />
        <activity android:name=".view.Notification.SendNotificationActivity" />
        <activity android:name=".view.SpinnerActivity" />
        <activity android:name=".view.ProgressBarActivity" />
        <activity android:name=".view.RatingBarActivity" />
        <activity android:name=".view.SeekbarActivity" />
        <activity android:name=".view.ListViewActivity" />
        <activity android:name=".view.CheckedTextViewActivity" />
        <activity android:name=".view.AutoCompleteTextViewActivity" />
        <activity android:name=".view.DynamicViews" />
        <activity android:name=".view.MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>